



#myHeader {
  font-family: "Averia Libre", system-ui;
  font-weight: 700;
  font-style: normal;
  color: black;
  padding: 30px;
  text-align: center;
  width: 400px;
  margin: auto 
  
}
 .header {
  border-left-style:  double;
  border-right-style: double;
  border: 5px black solid;
 }
body {
  margin: 0;
  padding: 0;
  display: flow-root;

}

#wrap {
  overflow: hidden;
  background-color: white;
  padding: 15px;
  width: 80%;
  margin: auto;
  margin-bottom: 100px;


}


.images {
  height: 300px;
  width: 280px;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid aqua;
  box-shadow: rgba(8, 0, 0, 0.996) 0px 5px 15px;
  margin-top: 60px;

}

.main {
  background-color: deepskyblue;
  color: rgb(0, 0, 0);
  padding: 30px;
  width: 320px;
  font-size: 20px;


  border: 1px solid black;
  position: relative;
  left: 90px;
  
  height: 50px;



}

.main2 {
  background-color: deepskyblue;
  color: rgb(0, 0, 0);
  padding: 30px;
  width: 320px;
  font-size: 20px;
  border: 1px solid black;
  position: relative;
  left: 750px;
  bottom: 1540px;
  height: 50px;
  align-content: center;
}

#grad {
  background: aqua;
  background: linear-gradient(315deg, deeppink 5%, deepskyblue 150%);

}





.font {
  font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  width: 400px;
  margin: 50px;
  position: relative;
  left: -10px;


}
.picture1 {
  float: left;
  display: inline;
  width: 100px;
  margin: 10px;
}


.quote1 {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 800px;
}

.quote2 {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 800px;
  margin-bottom: 50px;



}

.font2 {
  font-family: "Graduate", serif;
  font-weight: 400;
  font-style: normal;
  width: 400px;
  margin: 70px;

  position: relative;
  left: 650px;
  bottom: 1540px;

}
.info {
  
  position: relative;
  bottom: 400px;
  
  
}
