/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*
background-image: url(./images/JqdiZZ4zZ8lvFNLW0X3UqZ9HMjLhts4Ei4Sff302.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;