



#myHeader {
  font-family: "Averia Libre", system-ui;
  font-weight: 700;
  font-style: normal;
  color: black;
  padding: 30px;
  text-align: center;
  width: 400px;
  margin: auto 
  }

 .header {
  border-left-style:  double;
  border-right-style: double;
  border: 5px black solid;
 }
 
body {
  margin: 0;
  padding: 0;
  display: flow-root;

}

#wrap {
  overflow: hidden;
  background-color: white;
  padding: 15px;
  width: 80%;
  margin: auto;
  margin-bottom: 500px;
  box-shadow: rgba(0, 255, 255, 0.497) 5px 5px,rgba(0, 255, 255, 0.311) 10px 10px, rgba(0, 255, 255, 0.207) 15px 15px,rgba(0, 255, 255, 0.103) 20px 20px, rgba(0, 255, 255, 0.053) 25px 25px;


}

.images {
  height: 300px;
  width: 280px;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid aqua;
  box-shadow: rgba(8, 0, 0, 0.996) 0px 5px 15px;
  margin-top: 60px;

}

.main {
  background-color: white;
  color: rgb(0, 0, 0);
  width: 500px;
  font-size: 20px;
  border-bottom: 2px solid black;
  position: relative;
  left: 90px;
  padding-bottom: 10px ;
  
 }

 .picturemain {
  overflow: hidden;
 }
.main2 {
  background-color: white;
  color: rgb(0, 0, 0);
  padding-bottom: -10px;
  width: 500px;
  font-size: 20px;
  border-bottom: 2px double black;
  position: relative;
  left: 90px;
  height: 50px;
  align-content: center;
  margin-top: 150px;
}

#grad {
  background: aqua;
  background: linear-gradient(315deg, deeppink 5%, deepskyblue 150%);

}

.font {
  font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  width: 1000px;
  margin: 100px;
  position: relative;
  left: -10px;
  text-align: left;
}

.picture1 {
  float: left;
  display: inline;
  width: 110px;
  margin: 10px;
  height: 90px;
  position:relative;
  bottom:20px;
  border: solid 2px darkgoldenrod;
}

.quote1 {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 800px;
}

.quote2 {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 800px;
  margin-bottom: 50px;
}

.font2 {
  font-family: "Graduate", serif;
  font-weight: 400;
  font-style: normal;
  width: 1000px;
  margin: 100px;
  text-align: left;
  position: relative;
  left: -10px;
  }

.picture2 {
  float: left;
    display: inline;
    width: 100px;
    margin: 10px;
    height: 80px;
    position: relative;
    bottom: 20px;
    border: solid 2px darkgoldenrod;
    margin-top: 10px;
}